:root {
  --bs-primary: #0169a4;
  --bs-c1: #ffffff;
}

[data-theme='dark'] {
  --bs-c1: #0e0e0e;
}

html {
  body {
    overflow-y: overlay;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: var(--bs-c1);
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    text-rendering: optimizespeed;
  }
}

html::-webkit-scrollbar,
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
}

html::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(22, 24, 35, 0.06);
}

@media (min-width: 1400px) {
  .container {
    max-width: 1150px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}

a {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
